.containerHeader {
  height: 150px;
}

header {
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  z-index: 100;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  box-shadow: 0px 2px 50px #00000065;
}

#ContainerImgTopHeader {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: right;
  background-image: url("../../../public/Assets/fondos/bg-Header.png");
  background-size: cover;
  background-repeat: repeat-x;
  z-index: -1;
}

#ContainerImgTopHeader input {
  margin-right: 10%;
  border-radius: 6px;
  height: 30px;
  width: 20%;
  text-align: center;
  font-size: 18px;
}

.navbarCar {
  margin: 0;
  padding: 0;
  padding-left: 15%;
  padding-right: 15%;
  background: #8da73c;
  background-image: url("../../../public/Assets/fondos/Header.svg");
  background-repeat: repeat-x;
}

.ContainerImgHeader {
  position: absolute;
  top: -90px;
  align-items: center;
  overflow: visible;
}

.SpaceContainerImgHeader {
  width: 170px;
  height: 50px;
}

.navbar-nav a {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 15px 0 15px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.navbar-nav a:hover {
  background-color: #045861;
}

header .VerticalLine {
  border: none;
  border-left: 1px solid #fff;
  height: 40px;
  width: 1px;
  margin-top: 5px;
}
