.PageHome {
  text-align: center;
  background-color: #fff;
}

.BannerParques {
  position: relative;
  top: -70px;
}

.tituloParques {
  display: inline-block;
  max-width: 700px;
  width: 70%;
  padding: 10px 50px 70px 50px;
  border-radius: 20px;
  color: #fff;
  background-color: #008c2a;
  background-image: url(../../../public/Assets/fondos/bg-titulo-parques.svg);
  background-size: cover;
  font-size: 35px;
}

.BannerParques .gridParks {
  position: relative;
  top: -70px;
}

.btnReservas {
  margin-top: -70px;
  border-radius: 7px;
  background-color: #317f9f;
  color: #fff;
  font-size: 30px;
  padding: 15px 70px;
}

.BannerInfo {
  background-image: url(../../../public/Assets/fondos/bg-banner-informativo.svg);
  background-size: cover;
  background-color: #325962;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}

.titleRounded {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px 50px;
  font-size: 20px;
  font-weight: 500;
  background-color: #18a69d;
}

.containerProgramate .titleRounded {
  background-color: #95d043;
}

.BannerInfo .containerInformate .titleRounded {
  background-color: #18a69d;
}

.Slider {
  display: inline-block;
  background-color: #fff;
  padding: 10px 30px;
  box-shadow: 1px 1px 5px #0000006b;
}
.Slider img {
  width: 100%;
}

.CardInfo {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  box-shadow: 1px 1px 10px #0000006b;
  padding: 5px 15px;
  margin: 10px 0;
}

.CardInfo p {
  margin-left: 10px;
}

.containerProgramate .hrProgramate {
  background-color: #95d043;
}

.hrInformate {
  background-color: #18a69d;
}

.BannerExperience {
  background-color: #fff;
  padding-top: 5%;
  padding-bottom: 30%;
  background-image: url("../../../public/Assets/fondos/imagen\ fondo\ opiniones.png");
  background-size: 105%;
  background-repeat: no-repeat;
  background-position: 0% 100%;
}

.btn-car {
  margin-top: 30px;
  border-radius: 7px;
  background-color: #18a69d;
  color: #fff;
  font-size: 20px;
  padding: 10px 30px;
}
