.NuestrosParques {
  background-color: #fff;
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/375/580/993/sky-tropics-sea-water-horizon-waves-ocean-wallpaper-preview.jpg");
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: 120%;
}

.NuestrosParques .gridParques .CardOfParque {
  box-shadow: none;
}

.NuestrosParques .gridParques img {
  border-radius: 8px;
}

.NuestrosParques .gridParques .link {
  color: #38b4b6;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 500;
}

.NuestrosParques .gridParques .title {
  background-color: #00799f;
}
