.Page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.page-dos {
  padding: 0;
}

/* Estilos para el Grid que muestra los parques*/

.gridParques {
  margin-right: 5%;
  margin-left: 5%;
}

.CardOfParque {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #fff;
  color: #27323d;
  box-shadow: 1px 1px 20px #0000009a;
}

.CardOfParque .ContainerImg img {
  width: 100%;
  height: 200px;
}

.ImgColibri {
  position: absolute;
}

.ImgColibri img {
  position: relative;
  top: -30px;
  left: -90px;
}

.title {
  position: relative;
  border-radius: 10px;
  color: #fff;
  background-color: #00aeb3;
  font-size: 18px;
  background-image: url("../public/Assets/fondos/Fondo_verde_boton.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 190px;
}

.CardOfParque .top-menos-20px {
  position: relative;
  top: -20px;
}

.gridParques .CardOfParque .Content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.gridParques .CardOfParque .description {
  margin-top: -5px;
  height: 80px;
  overflow: scroll;
}

.gridParques .CardOfParque .description::-webkit-scrollbar {
  display: none;
}

/*Estilos generales*/

.mainTitle {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 0;
  color: #fff;
  font-size: 60px;
  text-shadow: 3px 3px 10px black;
}

.separador-car {
  border: none;
  background-color: #18a69d;
  padding: 3px 0;
}

.ContainerRoundedTop {
  margin-top: 50px;
  padding-top: 100px;
  background-color: #fff;
  border-radius: 50% 50% 0% 0;
}
/*Colores de fondo y texto*/
/*fondo*/
.bg-dark-blue {
  background-color: #003333;
}

.bg-green {
  background-color: #70a116;
}

.bg-acua {
  background-color: #00a19c;
}
/*Texto*/
.bg-l-green {
  background-color: #66cc00;
}

.text-dark-blue {
  color: #003333;
}

.text-green {
  color: #70a116;
}

.text-acua {
  color: #00a19c;
}

.text-l-green {
  color: #66cc00;
}

.text-dark-acua {
  color: #325860;
}

/*Estilos para tabla de la pagina Para tener encuenta*/

/*--*/

/*Estilos para el acordeon de de la pagina preguntas frecuentes*/
.collapsed {
  color: #fff;
}
